/* DEFINIÇÃO: estilos da página de erros */

body {
    background-image: url("../assets/images/background-login-signup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}

.content {
    width: 50%;
    margin: 25px;
}

.content__logo-wrapper {
    width: 100%;
    height: 100px;
}

.content__logo {
    width: 80px;
    height: 50px;
    margin: 5px;
    float: left;
}

.content__title {
    font-size: 100px;
    color: #666;
    margin: 40px 0px 40px 40px;
}

.content__subtitle {
    font-size: 30px;
    color: #666;
    margin: 40px 0px 20px 40px;
}

.content__paragraph {
    font-size: 15px;
    color: #666;
    margin: 0px 0px 40px 40px;
}