/**** GRID - TIPOS DE GRID PARA VISUALIZAR OS POSTS RESUMIDOS ****/

.width-1 {
   background-color: #f0f0f0;
   margin: 15px 5px;
}

.width-1 .brief-posts__title {
   text-align: left;
   margin: 5px 40px;
   font-size: 22px;
   color: #8228DE;
   cursor: pointer;
}

.width-1 .brief-posts__name,
.width-1 .brief-posts__date {
   text-align: left;
   margin: 5px 40px;
   font-size: 10px;
   color: #666;
}

.width-1 .brief-posts__description {
   text-align: left;
   margin: 20px 40px;
   height: 70px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.width-1 .brief-posts__link {
   text-decoration: none;
   color: #666;
}

.width-1 .brief-posts__link:hover {
   text-decoration: none;
   color: #999;
}

.width-3 {
   width: 33.3333%;
   background-color: #f0f0f0;
   margin: 15px 5px;
}

.width-3 .brief-posts__title {
   font-size: 22px;
   text-align: center;
   color: #8228DE;
   cursor: pointer;
   height: 65px;
   overflow: scroll;
   text-overflow: ellipsis;
}

.width-3 .brief-posts__name,
.width-3 .brief-posts__date {
   font-size: 10px;
   color: #666;
   text-align: center;
   font-size: 10px;
   color: #666;
}

.width-3 .brief-posts__description {
   text-align: center;
   margin: 20px 60px;
   height: 100px;
   font-size: 15px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.width-3 .brief-posts__link {
   text-decoration: none;
   color: #666;
}

.width-3 .brief-posts__link:hover {
   text-decoration: none;
   color: #999;
}


/**** POSTS RESUMIDOS ****/

.brief-posts {
   display: inline;
}

.brief-posts__post {
   display: flex;
   justify-content: center;
}

.brief-posts__title-wrapper {
   margin-top: 30px;
   text-align: center;
}

.brief-posts__options {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 44px;
   padding-right: 10px;
}

.brief-posts__options .brief-posts__icon {
   padding: 0 5px;
}

.brief-posts__options .brief-posts__link {
   cursor: pointer;
}

.brief-posts__options .brief-posts__link:first-child {
   color: #21C937;
}

.brief-posts__options .brief-posts__link:last-child {
   color: #ff3c3c;
}

.brief-posts__options .brief-posts__link:first-child:hover {
   color: #21c937a9;
}

.brief-posts__options .brief-posts__link:last-child:hover {
   color: #ff3c3ca9;
}


/**** POSTS RESUMIDOS - BARRA DE INTERAÇÕES ****/

.brief-posts__interactions {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e0e0e0;
   margin-top: 30px;
   margin-bottom: 0;
   height: 40px;
}

.brief-posts__interactions__icon {
   font-size: 15px;
   color: #8228DE;
   margin: 0 5px;
   cursor: pointer;
}

.brief-posts__interactions__icon[data-markedvote="marked"] {
   font-size: 15px;
   margin: 0 5px;
   color: #21c937;
}

.brief-posts__votes {
   margin-right: 35px;
}

.brief-posts__vote:hover {
   color: #7d7d7d;
}

.brief-posts__vote:first-child {
   margin-left: 0 !important;
}

.brief-posts__votes-amount__tooltip {
   margin-bottom: 0;
}

.brief-posts__votes-amount {
   color: #7d7d7d;
   margin-bottom: 0 !important;
}