/**** GLOBAL ****/
/* Cores: #242424, #D4D4D4, #8228DE (roxo), #21C937 (verde) */

* {
   font-family: "Nunito", sans-serif;
}

body {
   background-size: auto;
   background-position: center;
}

h1,
h2,
h3,
h3,
h4,
h5 {
   font-family: "Nova Round", cursive;
}


/**** BOTÕES ****/

.button {
   border: none;
   border-radius: 4px;
   color: white;
   display: inline-block;
   font-size: 16px;
   margin: 2px 0px;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   width: 125px;
}

.button-primary {
   /* background-color: rgb(130, 40, 222); */
   background-color: linear-gradient(127deg, rgba(130, 40, 222, 1) 0%, rgba(33, 201, 55, 1) 100%);
}

.button-primary:focus {
   outline: none;
   border: none;
}

.button-primary:hover {
   background-color: linear-gradient(127deg, rgb(157, 76, 241) 0%, rgb(86, 245, 107) 100%);
}

.button-cancel {
   background-color: #777;
}

.button-cancel:focus {
   outline: none;
   border: none;
}

.button-cancel:hover {
   background-color: #888;
}

.button-dropdown {
   background-color: #242424;
   border: none;
   height: 60px;
   margin: 0;
   padding: 0;
}

.button-dropdown:focus {
   outline: none;
}


/**** SCROLLBAR DA PÁGINA ****/

::-webkit-scrollbar {
   height: 5px;
   width: 5px;
}

::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
   background-color: linear-gradient(127deg, rgba(130, 40, 222, 5) 0%, rgba(33, 201, 55, 5) 100%);
}


/**** MENU DE NAVEGAÇÃO ****/

.navigation {
   align-items: center;
   background-color: #242424;
   box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
   box-sizing: border-box;
   display: flex;
   height: 60px;
   justify-content: center;
   width: 100%;
}

.navigation__left-wrapper {
   align-items: center;
   display: flex;
   justify-content: start;
   width: 10%;
}

.navigation__icon {
   color: #D4D4D4;
   font-size: 20px;
   margin: 20px 10px;
   margin: 20px 10px 20px 20px;
}

.navigation__icon:hover {
   color: #7d7d7d;
   text-decoration: none;
}

.navigation__center-wrapper {
   align-items: center;
   display: flex;
   justify-content: center;
   width: 80%;
}

.navigation__logo {
   height: 50px;
   margin: 5px;
   width: 80px;
}

.navigation__right-wrapper {
   align-items: center;
   display: flex;
   justify-content: flex-end;
   width: 10%;
}

.navigation__dropdown {
   float: right;
}

.navigation__dropdown__link:hover {
   color: #7d7d7d;
   text-decoration: none;
}

.navigation__dropdown__content-wrapper {
   background-color: #242424;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   display: none;
   min-width: 200px;
   position: absolute;
   right: 0;
   z-index: 1;
}

.navigation__dropdown__link {
   color: #cacaca;
   display: block;
   padding: 12px 16px;
   text-decoration: none;
}

.navigation__dropdown__icon {
   margin-right: 5px;
   padding: 0 5px;
   width: 40px;
}

.navigation__dropdown:hover .navigation__dropdown__content-wrapper {
   display: block;
}