/* DEFINIÇÃO: estilos globais do site */

/**** GLOBAL ****/
/* Cores: #242424, #D4D4D4, #8228DE (roxo), #21C937 (verde) */

* {
   font-family: "Nunito", sans-serif;
}

body {
   background-size: auto;
   background-position: center;
}

h1,
h2,
h3,
h3,
h4,
h5 {
   font-family: "Nova Round", cursive;
}


/**** BOTÕES ****/

.button {
   border: none;
   border-radius: 4px;
   color: white;
   display: inline-block;
   font-size: 16px;
   margin: 2px 0px;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   width: 125px;
}

.button-primary {
   /* background-color: rgb(130, 40, 222); */
   background-color: linear-gradient(127deg, rgba(130, 40, 222, 1) 0%, rgba(33, 201, 55, 1) 100%);
}

.button-primary:focus {
   outline: none;
   border: none;
}

.button-primary:hover {
   background-color: linear-gradient(127deg, rgb(157, 76, 241) 0%, rgb(86, 245, 107) 100%);
}

.button-cancel {
   background-color: #777;
}

.button-cancel:focus {
   outline: none;
   border: none;
}

.button-cancel:hover {
   background-color: #888;
}

.button-dropdown {
   background-color: #242424;
   border: none;
   height: 60px;
   margin: 0;
   padding: 0;
}

.button-dropdown:focus {
   outline: none;
}


/**** SCROLLBAR DA PÁGINA ****/

::-webkit-scrollbar {
   height: 5px;
   width: 5px;
}

::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
   background-color: linear-gradient(127deg, rgba(130, 40, 222, 5) 0%, rgba(33, 201, 55, 5) 100%);
}


/**** GRID - TIPOS DE GRID PARA VISUALIZAR OS POSTS RESUMIDOS ****/

.width-1 {
   background-color: #f0f0f0;
   margin: 15px 5px;
}

/* .fullWidth_row {
   margin: 5px 35px !important;
   display: flex;
   flex-wrap: wrap;
} */

.width-1 h3 {
   text-align: left;
   margin: 5px 40px;
   font-size: 22px;
   color: #8228DE;
   cursor: pointer;
}

.width-1 h5 {
   text-align: left;
   margin: 5px 40px;
   font-size: 10px;
   color: #666;
}

.width-1 p {
   text-align: left;
   margin: 20px 40px;
   height: 70px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.width-1 a {
   text-decoration: none;
   color: #666;
}

.width-1 a:hover {
   text-decoration: none;
   color: #999;
}

.width-3 {
   width: 33.3333%;
   background-color: #f0f0f0;
   margin: 15px 5px;
}

.width-3 h3 {
   font-size: 22px;
   text-align: center;
   color: #8228DE;
   cursor: pointer;
   height: 65px;
   overflow: scroll;
   text-overflow: ellipsis;
}

.width-3 h5 {
   font-size: 10px;
   color: #666;
   text-align: center;
   font-size: 10px;
   color: #666;
}

.width-3 p {
   text-align: center;
   margin: 20px 60px;
   height: 100px;
   font-size: 15px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.width-3 a {
   text-decoration: none;
   color: #666;
}

.width-3 a:hover {
   text-decoration: none;
   color: #999;
}


/**** POSTS RESUMIDOS ****/

.brief-posts {
   display: inline;
}

.brief-posts__post {
   display: flex;
   justify-content: center;
}

.brief-posts__title-wrapper {
   margin-top: 30px;
   text-align: center;
}

.brief-posts__options {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 44px;
   padding-right: 10px;
}

.brief-posts__options__icon {
   padding: 0 5px;
}

.brief-posts__link {
   cursor: pointer;
}

.brief-posts__link:first-child {
   color: #21C937;
}

.brief-posts__link:last-child {
   color: #ff3c3c;
}

.brief-posts__link:first-child:hover {
   color: #21c937a9;
}

.brief-posts__link:last-child:hover {
   color: #ff3c3ca9;
}


/**** POSTS RESUMIDOS - BARRA DE INTERAÇÕES ****/

.brief-posts__interactions {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e0e0e0;
   margin-top: 30px;
   margin-bottom: 0;
   height: 40px;
}

.brief-posts__interactions__icon {
   font-size: 15px;
   color: #8228DE;
   margin: 0 5px;
   cursor: pointer;
}

.brief-posts__interactions__icon[data-markedvote="marked"] {
   font-size: 15px;
   margin: 0 5px;
   color: #21c937;
}

.brief-posts__votes {
   margin-right: 35px;
}

.brief-posts__vote:hover {
   color: #7d7d7d;
}

.brief-posts__vote:first-child {
   margin-left: 0 !important;
}

.brief-posts__amount {
   color: #7d7d7d;
   margin-bottom: 0 !important;
}