/* DEFINIÇÃO: estilos da página individual do post */

/**** POST INDIVIDUAL: CABEÇALHO ****/

.full-post__header-wrapper {
    align-items: center;
    background: linear-gradient(180deg, rgba(191, 128, 255, 1) 0%, rgba(138, 255, 153, 1) 100%);
    box-shadow: 0px 3px 4px 0px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    padding: 40px;
}

.full-post__title {
    font-size: 25px;
    color: white;
    text-align: center;
}

.full-post__name,
.full-post__date {
    font-size: 15px;
    text-align: center;
    color: white;
}

.full-post__name:hover {
    text-decoration: none;
    color: #999;
}

.full-post__link:hover {
    text-decoration: none;
}


/*** POST INDIVIDUAL: DESCRIÇÃO ***/

.full-post__main-wrapper {
    padding: 40px;
    padding-bottom: 0;
}


/**** POST INDIVIDUAL: BARRA DE INTERAÇÕES ****/

.full-post__interactions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    margin-top: 30px;
    margin-bottom: 0;
    height: 40px;
}

.full-post__icon {
    font-size: 15px;
    color: #8228DE;
    margin: 0 5px;
}

.full-post__votes .full-post__icon {
    cursor: pointer;
}

.full-post__icon[data-markedvote="marked"] {
    font-size: 15px;
    margin: 0 5px;
    color: #21c937;
}

.full-post__votes {
    margin-right: 35px;
}

.full-post__vote:hover {
    color: #7d7d7d;
}

.full-post__vote:first-child {
    margin-left: 0 !important;
}

.full-post__votes-amount,
.full-post__comments-amount {
    color: #7d7d7d;
    margin-bottom: 0 !important;
}


/*** POST INDIVIDUAL: COMENTÁRIOS ***/

.comments {
    padding: 40px;
}

.comment__new {
    cursor: pointer;
}

.comment__new__icon {
    font-weight: bold;
    font-size: 15px;
    color: #888;
    margin: 0px 5px;
}

.comments .comment__name {
    font-size: 17px;
}

.comments .comment__name__link {
    color: #212529;
    text-decoration: none;
}

.comments .comment__name__link:hover {
    color: #999;
}

.comments .comment__description {
    font-size: 15px;
    margin-bottom: 0;
    padding: 4px;
}

.comment__vote,
.comment__action {
    font-weight: bold;
    font-size: 15px;
    color: #888;
    cursor: pointer;
}

.comment__vote__icon {
    color: #888;
    cursor: pointer;
    margin: 0 5px;
    padding: 0px;
}

.comment__vote__icon[data-markedvote="marked"] {
    font-size: 15px;
    margin: 0 5px;
    color: #21c937;
}

.comments__content-wrapper {
    display: flex;
    width: 100%;
}

.comments__content-wrapper .comments__items {
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
    width: 100%;
}

.comments__content-wrapper .comments__items .comment {
    display: block;
    margin-bottom: 15px;
    min-height: 35px;
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
}

.comment__action__icon {
    color: #888;
    cursor: pointer;
    padding: 0px 10px;
}

.comment__link {
    height: 30px;
}

.comment .width-100 {
    display: flex;
    flex-direction: row;
}

.comment__votes {
    width: clamp(4rem, 10vw, 6rem);
}

.comment__votes-amount {
    font-size: 15px;
    margin: 0 5px;
}

.comment__name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.width-70 {
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
}

.width-80 {
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
}

.comment__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
}

.comment__action {
    float: right;
}


/*** TABLETS ***/

@media screen and (max-width: 801px) {
    .full-post__title {
        margin-bottom: 1rem;
    }

    .full-post__name {
        margin-bottom: 1rem;
    }

    .comment .width-100 {
        flex-direction: column;
    }

    .comment__name-wrapper {
        align-items: flex-start;
        padding: 4px;
        width: 100%;
        height: 30px;
    }

    .comment__votes {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }

    .width-80,
    .width-70 {
        width: 100%;
    }

    .comment__actions {
        margin-bottom: -22px;
        order: -1;
        width: 100%;
    }
}