/* DEFINIÇÃO: estilos para a página individual do post */

/**** POST INDIVIDUAL - CABEÇALHO ****/

.full-post__header-wrapper {
   align-items: center;
   background: linear-gradient(180deg, rgba(191, 128, 255, 1) 0%, rgba(138, 255, 153, 1) 100%);
   box-shadow: 0px 3px 4px 0px rgb(212, 212, 212);
   display: flex;
   height: 250px;
   justify-content: center;
}

.full-post__title {
   font-size: 25px;
   color: white;
   text-align: center;
}

.full-post__name,
.full-post__date {
   font-size: 15px;
   text-align: center;
   color: white;
}

/*** POST INDIVIDUAL - DESCRIÇÃO ***/

.full-post__main-wrapper {
   padding: 40px;
   padding-bottom: 0;
}

/**** POST INDIVIDUAL - BARRA DE INTERAÇÕES ****/

.full-post__interactions {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e0e0e0;
   margin-top: 30px;
   margin-bottom: 0;
   height: 40px;
}

.full-post__icon {
   font-size: 15px;
   color: #8228DE;
   margin: 0 5px;
   cursor: pointer;
}

.full-post__icon[data-markedvote="marked"] {
   font-size: 15px;
   margin: 0 5px;
   color: #21c937;
}

.full-post__votes {
   margin-right: 35px;
}

.full-post__vote:hover {
   color: #7d7d7d;
}

.full-post__vote:first-child {
   margin-left: 0 !important;
}

.full-post__votes-amount {
   color: #7d7d7d;
   margin-bottom: 0 !important;
}

/*** POST INDIVIDUAL - COMENTÁRIOS ***/

.comments {
   padding: 40px;
}

.comments .comment__name {
   font-size: 17px;
}

.comments .comment__description {
   font-size: 15px;
}

.comment__vote,
.comment__edit,
.comment__delete {
   font-weight: bold;
   font-size: 15px;
   color: #888;
   cursor: pointer;
}

.comments .comment__icon[data-markedvote="marked"] {
   font-size: 15px;
   margin: 0 5px;
   color: #21c937;
}

.comments .comment__icon {
   color: #888;
   cursor: pointer;
   padding: 10px;
}

.comments__content-wrapper {
   display: flex;
   width: 100%;
}

.comments__content-wrapper .comments__items {
   padding: 0;
   margin: 0 0 50px 0;
   list-style: none;
   width: 100%;
}

.comments__content-wrapper .comments__items .comment {
   display: block;
   margin-bottom: 15px;
   padding: 8px;
   min-height: 35px;
   width: 100%;
}

.comment {
   display: flex;
   flex-direction: row;
}

.comment .comment__icon {
   color: #888;
}

.comment__link {
   height: 30px;
}

.comment__votes {
   padding: 0;
   display: inline;
}

.comment__votes .comment__icon {
   padding: 0 !important;
}

.comment__votes-amount {
   font-size: 15px;
}

.col-1 {
   display: flex;
   /* align-items: center; */
   justify-content: center;
   padding-right: 0 !important;
}

.col-9 {
   margin: 0px 20px 0px 0px;
}

.col-10 {
   margin: 0px 20px 0px 0px;
}