/* ___________________  LOGIN e SIGNUP ___________________ */

.ls {
    background-image: url('https://i.ibb.co/NtfhDtt/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}

.ls a {
    color: #ccc !important;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
}

.ls_a_selected {
    color: #8228DE;
}

.ls label {
    color: #ccc;
    margin: 5px 0;
    cursor: pointer;
}

.ls button {
    float: right !important;
    margin-right: 0 !important;
}

.lsContent {
    width: 40%;
    margin: 25px;
}

.lsContentLogo {
    width: 100%;
    height: 100px;
}

.lsContentLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 40px 0;
    margin-left: 20px;
}

.lsContentLinks a:active {
    border-bottom: 3px solid #8228DE;
}

.lsContentForm {
    margin-left: 40px;
}

.lsContentForm input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 3px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #242424;
    color: #ccc;
}

.lsContentForm i {
    color: #ccc;
    cursor: help;
}

.lsContentForm input[type=checkbox] {
    background-color: #ccc;
}

.lsLogoImage {
    width: 80px;
    height: 50px;
    margin: 5px;
    float: left;
}

#div-signup {
    display: none;
}

/* ___________________  ERROR 404 ___________________ */

.nf404 {
    background-image: url('https://i.ibb.co/NtfhDtt/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}

.nf404 h1 {
    font-size: 100px;
    color: #666;
}

.nf404 h3 {
    font-size: 30px;
    color: #666;
}

.nf404 p {
    font-size: 15px;
    color: #666;
}

