/**** Dropdown ****/

.buttonDropdown {
   background-color: #242424;
   border: none;
   margin: 0;
   height: 60px;
}

.buttonDropdown:focus {
   outline: none;
}

.dropdown {
   float: right;
}

.dropdown a:hover {
   text-decoration: none;
   color: #7d7d7d;
}

.contentDropdown {
   display: none;
   position: absolute;
   background-color: #242424;
   min-width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   right: 0;
}

.contentDropdown a {
   color: #cacaca;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.contentDropdown i {
   padding: 0 5px;
   width: 40px;
}

.dropdownIcons {
   margin-right: 5px;
}

.dropdown:hover .contentDropdown {
   display: block;
}


/**** Opção de Vista dos Posts ****/

.gridOptions {
   display: flex;
   width: 100%;
   justify-content: flex-end;
   align-items: center;
}

.gridOptions i {
   color: #777;
   margin: 20px 10px 10px 10px;
   font-size: 20px;
   cursor: pointer;
}

.gridOptions i:hover {
   color: #888;
}

.gridOptions i:active {
   color: #8228DE;
}


/**** Todos os Posts ****/

.posts {
   display: inline;
}

.sectionPost {
   display: flex;
   justify-content: center;
}

.fullWidth {
   background-color: #f0f0f0;
   margin: 15px 5px;
}

.fullWidth h3 {
   text-align: left;
   margin: 5px 40px;
   font-size: 22px;
   color: #8228DE;
   cursor: pointer;
}

.fullWidth h5 {
   text-align: left;
   margin: 5px 40px;
   font-size: 10px;
   color: #666;
}

.fullWidth p {
   text-align: left;
   margin: 20px 40px;
   height: 70px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.fullWidth a {
   text-decoration: none;
   color: #666;
}

.fullWidth a:hover {
   text-decoration: none;
   color: #999;
}

.fullWidth_row {
   margin: 5px 35px !important;
   display: flex;
   flex-wrap: wrap;
}

.width3 {
   width: 33.3333%;
   background-color: #f0f0f0;
   margin: 15px 5px;
}

.postOptionDiv {
   margin-top: 30px;
   text-align: center;
}

.titlePost a {
   color: #8228DE !important;
}

.width3 h3 {
   font-size: 22px;
   text-align: center;
   color: #8228DE;
   cursor: pointer;
   height: 65px;
   overflow: scroll;
   text-overflow: ellipsis;
}

.width3 h5 {
   font-size: 10px;
   color: #666;
   text-align: center;
   font-size: 10px;
   color: #666;
}

.width3 p {
   text-align: center;
   margin: 20px 60px;
   height: 100px;
   font-size: 15px;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   overflow: hidden;
   text-overflow: ellipsis;
}

.width3 a {
   text-decoration: none;
   color: #666;
}

.width3 a:hover {
   text-decoration: none;
   color: #999;
}