/*** NOTAS GERAIS ***/


/* Cores: #242424, #D4D4D4, #8228DE (roxo), #21C937 (verde) */


/* boreder-radius: 4px; */

body {
    background-image: url('');
    background-size: auto;
    background-position: center;
}

h1,
h2,
h3,
h3,
h4,
h5 {
    font-family: 'Nova Round', cursive;
    /* Titulos */
}

p {
    font-family: 'Nunito', sans-serif;
    /* Textos */
}

.button {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 2px 0px;
    width: 125px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttonPrimary {
    background: rgb(130, 40, 222);
    background: linear-gradient(127deg, rgba(130, 40, 222, 1) 0%, rgba(33, 201, 55, 1) 100%);
}

.buttonPrimary:focus {
    outline: none;
    border: none;
}

.buttonPrimary:hover {
    background: linear-gradient(127deg, rgb(157, 76, 241) 0%, rgb(86, 245, 107) 100%);
}

.buttonCancel {
    background: #777;
}

.buttonCancel:focus {
    outline: none;
    border: none;
}

.buttonCancel:hover {
    background: #888;
}


/**** Scrollbar ****/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(127deg, rgba(130, 40, 222, 5) 0%, rgba(33, 201, 55, 5) 100%);
    /*background: #555; */
}


/* ______________________  NAVIGATION  ______________________ */

.navigationBar {
    width: 100%;
    height: 60px;
    background-color: #242424;
    box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navigationIcons {
    color: #D4D4D4;
    font-size: 20px;
    margin: 20px 10px;
}

.navigationIcons:hover {
    text-decoration: none;
    color: #7d7d7d;
}

.navLeft {
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navCenter {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navRight {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/**** Dropdown ****/

.buttonDropdown {
    background-color: #242424;
    border: none;
    margin: 0;
    height: 60px;
}

.buttonDropdown:focus {
    outline: none;
}

.dropdown {
    float: right;
}

.dropdown a:hover {
    text-decoration: none;
    color: #7d7d7d;
}

.contentDropdown {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.contentDropdown a {
    color: #cacaca;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contentDropdown i {
    padding: 0 5px;
    width: 40px;
}

.dropdownIcons {
    margin-right: 5px;
}

.dropdown:hover .contentDropdown {
    display: block;
}


/* ______________________  FOOTER  ______________________ */

.footer {
    background-color: #242424;
    margin-top: 20px;
}

.footer hr {
    background-color: #333;
    margin: 0;
}

.contentFooter_Copyrights {
    display: flex;
    padding: 10px 20px;
    margin: 0;
}

.contentFooter_Copyrights h3 {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
}

.contentFooter_Copyrights h4 {
    font-size: 18px;
    color: #666;
}

.column1 {
    width: 50%;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
}

.column2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contentFooter_Links {
    display: flex;
    padding: 20px;
}

.contentFooter_Links img {
    width: 50px;
    height: 50px;
}

.contentFooter_Links a {
    text-decoration: none;
    color: #888;
}

.contentFooter_Links a:hover {
    text-decoration: none;
    color: #aaa;
}

.links {
    float: right;
    margin: 10px;
}


/**** Logotipo ****/

.logo {
    width: 80px;
    height: 50px;
    margin: 5px;
}


/* _____________________ HEADER _____________ */

.uHeader {
    background: linear-gradient(180deg, rgba(191, 128, 255, 1) 0%, rgba(138, 255, 153, 1) 100%);
    box-shadow: 0px 3px 4px 0px rgb(212, 212, 212);
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.uHeader i {
    font-size: 150px;
    text-align: center;
    color: #fff;
    margin: 15px;
}

.uHeader h2 {
    font-size: 25px;
    color: white;
    text-align: center;
}

.uHeader h3 {
    font-size: 15px;
    text-align: center;
    color: white;
}


/* ______________________ MODAL ______________________ */

.close:focus {
    outline: none;
}

.modalForm {
    display: grid;
}


/*** Modal de Novo Comentário ***/

.modalForm input[name="title"] {
    border-style: none;
    border-bottom: 1px solid #ccc;
    padding: 12px 5px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
}

.modalForm textarea[name="content"] {
    border-style: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 12px 5px;
    width: 100%;
}


/*** Modal Informações ***/

.modal-body p {
    margin-bottom: 2rem;
}


/* ______________________  INDEX  ______________________ */


/* ---- MAIN ---- */


/**** Post em Destaque ****/

.featuredPost {
    background: linear-gradient(180deg, rgba(191, 128, 255, 1) 0%, rgba(138, 255, 153, 1) 100%);
    box-shadow: 0px 3px 4px 0px rgb(212, 212, 212);
    width: 100%;
    height: 420px;
    display: grid;
    padding: 40px;
    text-align: left;
}

.featuredPost .postOptions {
    float: right;
    width: 100%;
    padding: 0px;
}

.featuredPost h2 {
    float: left;
    align-self: end;
    width: 40%;
    height: 50px;
    text-overflow: ellipsis;
    overflow: auto;
    font-size: 26px;
}

.featuredPost h5 {
    text-align: center;
    width: 40%;
    font-size: 10px;
    color: rgb(102, 102, 102);
}

.featuredPost h5 a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.featuredPost h2 a {
    color: #7E2DD2;
    text-decoration: none;
}

.featuredPost p {
    font-size: 15px;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
    margin-bottom: 10px;
}

.featuredPost .interactionsBar {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 40%;
}

.divButton {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}


/**** Area de Pesquisa ****/

.searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchArea select {
    height: 40px;
    margin: 40px 0;
    padding: 0 15px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.searchArea select:required:invalid {
    color: #858585;
}

.searchArea input {
    width: 800px;
    height: 40px;
    margin: 40px 0;
    padding: 0 20px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.searchArea input:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.searchArea i {
    color: #7d7d7d;
    font-size: 15px;
    margin-left: 20px;
}

.searchArea i:hover {
    color: #D4D4D4;
    font-size: 15px;
}


/**** Opção de Vista dos Posts ****/

.gridOptions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.gridOptions i {
    color: #777;
    margin: 20px 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;
}

.gridOptions i:hover {
    color: #888;
}

.gridOptions i:active {
    color: #8228DE;
}


/**** Todos os Posts ****/

.posts {
    display: inline;
}

.sectionPost {
    display: flex;
    justify-content: center;
}

.fullWidth {
    background-color: #f0f0f0;
    margin: 15px 5px;
}

.fullWidth h3 {
    text-align: left;
    margin: 5px 40px;
    font-size: 22px;
    color: #8228DE;
    cursor: pointer;
}

.fullWidth h5 {
    text-align: left;
    margin: 5px 40px;
    font-size: 10px;
    color: #666;
}

.fullWidth p {
    text-align: left;
    margin: 20px 40px;
    height: 70px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fullWidth a {
    text-decoration: none;
    color: #666;
}

.fullWidth a:hover {
    text-decoration: none;
    color: #999;
}

.fullWidth_row {
    margin: 5px 35px !important;
    display: flex;
    flex-wrap: wrap;
}

.width3 {
    width: 33.3333%;
    background-color: #f0f0f0;
    margin: 15px 5px;
}

.postOptionDiv {
    margin-top: 30px;
    text-align: center;
}

.titlePost a {
    color: #8228DE !important;
}

.width3 h3 {
    font-size: 22px;
    text-align: center;
    color: #8228DE;
    cursor: pointer;
    height: 65px;
    overflow: scroll;
    text-overflow: ellipsis;
}

.width3 h5 {
    font-size: 10px;
    color: #666;
    text-align: center;
    font-size: 10px;
    color: #666;
}

.width3 p {
    text-align: center;
    margin: 20px 60px;
    height: 100px;
    font-size: 15px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width3 a {
    text-decoration: none;
    color: #666;
}

.width3 a:hover {
    text-decoration: none;
    color: #999;
}

.postOptions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 44px;
    padding-right: 10px;
}

.postOptions i {
    padding: 0 5px;
}

.postOptions a {
    cursor: pointer;
}

.postOptions a:first-child {
    color: #21C937;
}

.postOptions a:last-child {
    color: #ff3c3c;
}

.postOptions a:first-child:hover {
    color: #21c937a9;
}

.postOptions a:last-child:hover {
    color: #ff3c3ca9;
}


/** Barra de Interações **/

.interactionsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    margin-top: 30px;
    margin-bottom: 0;
    height: 40px;
}

.interactionsBarIcons {
    font-size: 15px;
    color: #8228DE;
    margin: 0 5px;
    cursor: pointer;
}

i[data-markedvote="marked"] {
    font-size: 15px;
    margin: 0 5px;
}

.interactionsBar span:hover {
    color: #7d7d7d;
}

.interactionsBar span:first-child {
    margin-left: 0 !important;
}

.interactionsBar label {
    color: #7d7d7d;
    margin-bottom: 0 !important;
}

.votes {
    margin-right: 35px;
}


/* ___________________  POST INDIVIDUAL ___________________ */


/*** Texto da Publicação ***/

.postText {
    padding: 40px;
    padding-bottom: 0 !important;
}


/*** Área de Comentários ***/

.commentsArea {
    padding: 40px;
}

.commentsArea h2 {
    font-size: 17px;
}

.commentsArea h4 {
    font-family: 'Nunito', sans-serif !important;
    font-size: 11px;
}

.commentsArea p {
    font-size: 15px;
}

.commentsArea span {
    font-weight: bold;
    font-size: 15px;
    color: #888;
    cursor: pointer;
}

.commentsArea i[data-markedvote="marked"] {
    font-size: 15px;
    margin: 0 5px;
}

.commentsArea i {
    color: #888;
    cursor: pointer;
    padding: 10px;
}


/*** Modal de Novo Comentário ***/

.close:focus {
    outline: none;
}

.modalForm {
    display: grid;
}

.modalForm input[name="title"] {
    border-style: none;
    border-bottom: 1px solid #ccc;
    padding: 12px 5px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
}

.modalForm textarea[name="content"] {
    border-style: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 12px 5px;
    width: 100%;
}


/*** Comentários Inseridos ***/

.comments {
    display: flex;
    width: 100%;
}

.comments ul {
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
    width: 100%;
}

.comments ul li {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    min-height: 35px;
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
}

.comment i {
    color: #888;
}

.comment a {
    height: 30px;
}

.commentVotes {
    padding: 0;
    display: inline;
}

.commentVotes i {
    padding: 0 !important;
}

.commentVotes label {
    font-size: 15px;
}

.col-1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 0 !important;
}

.col-9 {
    margin: 0px 20px 0px 0px;
}

.col-10 {
    margin: 0px 20px 0px 0px;
}


/* ___________________  USER ___________________ */

.ueForm {
    max-width: 70%;
    padding: 30px;
    margin: 50px auto;
    margin-bottom: 0;
}

.ueForm ul {
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
}

.ueForm ul li {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    min-height: 35px;
}

.ueForm input[type=text],
input[type=email],
input[type=password] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 35px;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.ueForm ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.ueForm ul li .field-split {
    width: 49%;
}

.ueForm ul li .field-full {
    width: 100%;
}

.ueForm ul li input.align-left {
    float: left;
}

.ueForm ul li input.align-right {
    float: right;
}

.changePass {
    display: flex;
    align-items: center;
}

.changePass img {
    width: 35px;
    height: 35px;
    margin-bottom: .5rem;
    margin-left: 20px;
    cursor: pointer;
}

.ueButtons {
    margin-top: 20px;
}